@import 'tailwindcss';
@import './css/themes/icewall/side-menu.css';
@import './css/themes/icewall/top-menu.css';
@import './css/vendors/full-calendar.css';
@import './css/vendors/toastify.css';
@import './css/vendors/simplebar.css';
@import './css/app.css';

.Vue-Toastification__container {
  z-index: 99999 !important;
}
